@model AttendRecord03.Models.Record

@{
    ViewData["Title"] = "Create";
}


<script type="text/javascript">

/*    alert('Hello! I am an alert box!!');*/

    @Html.Raw(ViewBag.AbsTimeErr)

    @Html.Raw(ViewBag.AbsHoursErr)

    @Html.Raw(ViewBag.AbsDaysErr)


        //$(document).ready(function () {
        //    $("#btnAdd").click(function () {
        //        var field = $("#field").val();
        //        var input = "<input name='parameters' id='field' type='text' />";
        //        var newRow = "<tr><td>" + field + "</td><td>" + input + "</td></tr>";
        //        $('#controls').append(newRow);
        //    });
        //});

    //https://stackoverflow.com/questions/13989741/dynamically-add-controls-javascript-asp-net-c-sharp
</script>


<h1>Create</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonEmail" class="control-label"></label>
                <input asp-for="PersonEmail" class="form-control" />
                <span asp-validation-for="PersonEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>


            <div class="form-group">


                <select name="AbsenceType" id="AbsenceType" class="form-control" aria-label=".form-select-sm example">
                    <option selected>Open this menu to select Absence's Type</option>
                    <option value="年假">年假</option>
                    <option value="公假">公假</option>
                    <option value="婚假">婚假</option>
                </select>

                @*<label asp-for="AbsenceType" class="control-label"></label>
                <input asp-for="AbsenceType" class="form-control" />
                <span asp-validation-for="AbsenceType" class="text-danger"></span>*@

            </div>





            <div class="form-group">
                <label asp-for="AbsenceTimeStart" class="control-label"></label>
                <input asp-for="AbsenceTimeStart" class="form-control" />
                <span asp-validation-for="AbsenceTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceTimeEnd" class="control-label"></label>
                <input asp-for="AbsenceTimeEnd" class="form-control" />
                <span asp-validation-for="AbsenceTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceHours" class="control-label"></label>
                <input asp-for="AbsenceHours" class="form-control" />
                <span asp-validation-for="AbsenceHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
