@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> To login please input user@user.com  and  @@aA123456  </p>
    <p> To download this project please go here <a href="https://github.com/mikepowertech79/AttendRecord03"> github.com </a> </p>
</div>
